head
  meta(charset='utf-8')
  title UURL.XYZ | The Url Shortener
  meta(name='description' content='A free URL shortening and redirection service that can turn a long URL into a very short and easy to remember URL')
  meta(name='keywords' content='url, short, redirect, link, url shortener, redirector, short links, seo links, free seo, free url, shorten url, small url, shorten urls, free url redirection, free small url')
  meta(name='viewport' content='initial-scale=1, minimum-scale=1, width=device-width')
  meta(property='og:site_name' content='UURL.XYZ')
  meta(property='og:url' content='https://uurl.xyz/')
  meta(property='og:locale' content='en')
  link(rel='stylesheet' href='https://publiccssfile.s3.ap-south-1.amazonaws.com/uurl.xyz/basic.css')
  link(rel='stylesheet' href='https://publiccssfile.s3.ap-south-1.amazonaws.com/uurl.xyz/app.css')
  link(rel='stylesheet' href='https://publiccssfile.s3.ap-south-1.amazonaws.com/uurl.xyz/date-picker.css')
  link(rel='shortcut icon' href='https://aniketsarkar.info/images/about.jpg')
.butterbar
  div
    h1
      a(href='https://uurl.xyz/')
        span(style='color:#0033cc;font-size:30pt;float:left;margin:0px 0 0 30px;letter-spacing:-2px;') UURL.XYZ
    span(style='color:#999;margin:14px 0 0 10px;') The url shortening service
#wrapper
  header
    #branding.row
      p.tagline
        | Free URL forwarding and shortening service allowing everyone to shorten any existing URL
      p.tagline
        | Fully serverless <> hosted with AWS and Vercel <> Python, NodeJs, DynamoDb
  #main(role='main')
    form#mainform(action='/url-shortener' method='post' autocomplete='off' style='height:100%;')
      input#urlaniket(type='text' name='long_url' value='' placeholder='https://')
      input#submit.button.submit.normal(type='submit' value='short' name='submit')
  footer
    //
      <div class="ads_container">
      <div class="product">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle"     style="display:inline-block;width:728px;height:90px"     data-ad-client="ca-pub-4259705112576859"     data-ad-slot="1554669629"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
      </div>
    .footertext
      p
        | Copyright 
        a(href='https://uurl.xyz/' title='UURL.XYZ - The URL Shortener') UURL.XYZ
        |  - Developed by 
        a(target='_blank' href='https://uurl.xyz/cd6e7067' title='Aniket Sarkar the developer') Aniket Sarkar
